%% -*- mode: erlang -*-
{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "^[0-9]+", namespaced_types}
]}.

{proto_opts, [
    {src_dirs, ["use-protogen-makefile-target-instead!"]}
]}.

{deps, [
        {riak_pb, "2.2.*", {git, "https://github.com/basho/riak_pb.git", {branch, "develop"}}}
       ]}.
